In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("kerala.csv")
df2=pd.read_csv("anthara.csv")
df3=pd.read_csv("assam.csv")
df4=pd.read_csv("telungana.csv")
df5=pd.read_csv("kadamba.csv")
df6=pd.read_csv("southbengal.csv")
df7=pd.read_csv("himachal pradesh.csv")
df8=pd.read_csv("uttrapratesh.csv")
df9=pd.read_csv("bhigar.csv")
df10=pd.read_csv("chandigarh.csv")

In [3]:
df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10])

In [4]:
df.isnull().sum()

routename      117
seat           246
bustypes         0
busnames         0
routetimes       0
starratings     76
tickets          0
reaching         0
 duration        0
STATE            0
routemname     600
dtype: int64

In [4]:
df.fillna('N/A',inplace=True)

In [5]:
df.drop(columns=['routemname'],inplace=True)

In [6]:
df.columns

Index(['routename', 'seat', 'bustypes', 'busnames', 'routetimes',
       'starratings', 'tickets', 'reaching', ' duration', 'STATE'],
      dtype='object')

In [7]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\govindharaj arumugam\appdata\local\programs\python\python313\lib\site-packages (9.2.0)

In [8]:
import mysql.connector

In [9]:
# Establish the connection
connection = mysql.connector.connect(
        host="127.0.0.1",
        port=3306,
        user='root',
        password="root",
       database="red_bus" )


cursor = connection.cursor()

In [11]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS bus_data (
        route_name VARCHAR(100),
        seats VARCHAR(100),
        bus_types VARCHAR(50),
        bus_names VARCHAR(100),
        route_times VARCHAR(100),
        star_ratings VARCHAR(100),  -- Added missing comma
        tickets VARCHAR(100),
        reaching VARCHAR(100),
        duration VARCHAR(100),
        state VARCHAR(50)       
    );
""")

In [12]:
df

,routename,seat,bustypes,busnames,routetimes,starratings,tickets,reaching,duration,STATE
0,Kozhikode to Ernakulam,27 Seats available,A/C Seater (2+2),Deer Bus LLP,17:30,4.3,Starts from\nINR 350,22:10,04h 40m,KERALA
1,Kozhikode to Ernakulam,28 Seats available,A/C Seater (2+2),Deer Bus LLP,17:30,4.3,Starts from\nINR 350,22:10,04h 40m,KERALA
2,Kozhikode to Ernakulam,28 Seats available,A/C Seater (2+2),Deer Bus LLP,17:30,4.3,Starts from\nINR 350,22:10,04h 40m,KERALA
3,Kozhikode to Ernakulam,18 Seats available,A/C Seater (2+2),Deer Bus LLP,17:30,4.3,Starts from\nINR 350,22:10,04h 40m,KERALA
4,Kozhikode to Ernakulam,N/A,A/C Seater (2+2),Deer Bus LLP,17:30,4.3,Starts from\nINR 350,22:10,04h 40m,KERALA
...,...,...,...,...,...,...,...,...,...,...
28,Barasat (West Bengal) to Digha,30 Seats available,Benz A/C Seater (2+2),Lokenath Bus Service,22:00,4.3,Starts from\nINR 549 467,05:00,07h 00m,chandigarh
29,Barasat (West Bengal) to Digha,41 Seats available,Benz A/C Seater (2+2),Lokenath Bus Service,22:00,4.3,Starts from\nINR 549 467,05:00,07h 00m,chandigarh
30,Barasat (West Bengal) to Nandakumar (west bengal),54 Seats available,Non AC Seater (2+3),WBTC (CTC) HABRA-DIGHA via Bally - 26|14:00,14:00,4.6,INR 90,16:10,02h 10m,chandigarh
31,Barasat (West Bengal) to Nandakumar (west bengal),36 Seats available,Non AC Seater (2+3),WBTC (CTC) HABRA-DIGHA via Bally - 26|14:00,14:00,4.6,INR 90,16:10,02h 10m,chandigarh
32,Barasat (West Bengal) to Nandakumar (west bengal),11 Seats available,Non AC Seater (2+3),WBTC (CTC) HABRA-DIGHA via Bally - 26|14:00,14:00,4.6,INR 90,16:10,02h 10m,chandigarh

In [ ]:
#df.dropna(inplace=True)

In [ ]:
#df.columns

Index(['routename', 'seat', 'bustypes', 'busnames', 'routetimes',
       'starratings', 'tickets', 'reaching', ' duration', 'STATE'],
      dtype='object')

In [13]:
insert_query="""INSERT INTO bus_data(route_name,seats,bus_type,bus_name,route_times,star_rating,tickets,reaching, duration,STATE)  
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s,%s)"""
for index,row in df.iterrows():
     values =(
              row['routename'],
              row['seat'],
              row['bustypes'],
              row['busnames'],
              row['routetimes'],
              row['starratings'],
              row['tickets'],
              row['reaching'],
              row[' duration'],
              row['STATE'])  
     
     cursor.execute(insert_query,values)

     connection.commit()